body{
    padding:30px;
    /* background-color:#CAD2C5 #F9B9F2 #107E7D ;
    color:#CAD2C5 #F9B9F2 #107E7D; 
    background-color:#CAD2C5 #F9B9F2 #107E7D ;
    color:#CAD2C5 #F9B9F2 #107E7D;  */
    background-color: #CAD2C5;
    color: #107E7D; 
    
}
h4{
padding: 30px;
}
h1{
    text-align:center;
    padding:30px
}
#nav{
    text-align: center;
}
.carousel-caption{
    background-color: rgb(0,0,0, 0.4);
}
